html{font-size: 62.5%; font-family: "Calibri";}

body{background-image: url("../photos/drewnianetlo.png"); font-size: 2.5rem;}

header, .section, footer{background-color: #fff; transition: 0.5s;
	box-shadow: 1rem 1rem 1rem 2.5rem rgba(0,0,0,0.4);}

header:hover, .section:hover, footer:hover{
	box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.9);
	transform: translate(4rem, 1.2rem);}

h1, h2, .more {font-family: "Dancing Script", cursive;}

h1{font-size: 6.4rem; letter-spacing: .3rem; text-align: left;}

h2{font-size: 4rem;}

a{color: #000; text-decoration: none;}

.container{display: grid; grid-template-columns: 1fr 6fr 1fr;}
