@media all and (max-width: 1280px){
	body{font-size: 2.3rem;}
	h1{font-size: 5.6rem;}
	.header{padding: 2rem 4rem 0 4rem;}
	.header__title{padding: 6rem 0 0 0;}
}

@media all and (max-width: 1180px){
	body{font-size: 2.1rem;}
	h1{font-size: 5rem;}
	h2{font-size: 3.6rem;}
	.header{padding: 0;}
	.header__link{grid-template-columns: 1fr; grid-template-rows: repeat(2, auto);
		justify-items: center;}
	.header__img{width: 45%}
	.header__title{padding: 0; line-height: 5rem;}
}

@media all and (max-width: 1100px){
	body{font-size: 2rem;}
	h1{font-size: 4.2rem;}
	h2{font-size: 3.2rem;}
	.header__title{line-height: 4.2rem;}
	.contact__img{width: 75%;}
}

@media all and (max-width: 1040px){
	body{font-size: 1.8rem;}
	h1{font-size: 4rem;}
	h2{font-size: 3rem;}
	.header__img{width: 50%}
	.header__title{line-height: 4rem;}
	.contact__img{width: 80%;}
}

@media all and (max-width: 980px){
	.section__link{grid-template-rows: repeat(4, auto); grid-template-columns: 1fr;}
	.section__title{grid-column: 1/2; grid-row: 1/2;}
	.section__img{grid-column: 1/2; grid-row: 2/3; width: 100%;}
	.section__text{grid-column: 1/2; grid-row: 3/4; text-align: center;}
	.section__more{grid-column: 1/2; grid-row: 4/5;}
	
	.subpage{grid-template-rows: repeat(4, auto); grid-template-columns: 1fr;}
	.subpage__title{grid-column: 1/2; grid-row: 1/2;}
	.subpage__img{grid-column: 1/2; grid-row: 2/3; width: 100%;}
	.subpage__text{grid-column: 1/2; grid-row: 3/4; text-align: center;}
	.subpage__itembox{grid-column: 1/2; grid-row: 4/5;}
	
	.contact{margin: 0 0 12rem 0; padding: 0 2rem 0 2rem;}
	.contact__img{width: 85%;}
	.contact__itembox{padding: 5rem;}
}

@media all and (max-width: 800px){
	.header__img{width: 55%}
	.section{margin: 0 0 12rem 0; padding: 0 2rem 2rem 2rem;}
	.section__text{padding: 0 1rem 0 1rem;}
	
	.subpage{margin: 0 0 12rem 0; padding: 0 2rem 2rem 2rem;}
	.subpage__text{padding: 0 1rem 0 1rem;}
	
	.contact{margin: 0 0 10rem 0; padding: 0 1rem 0 1rem;}
	.contact__img{width: 90%;}
	.contact__itembox{padding: 4rem;}
	.contact__item{padding: .5rem 0 0 0;}
}

@media all and (max-width: 700px){
	.header{grid-column: 1/4;}
	.header__img{width: 60%}
	.section{grid-column: 1/4; margin: 0 0 10rem 0; padding: 0 0 2rem 0;}
	.section__text{padding: 0 2rem 0 2rem;}
	.subpage{grid-column: 1/4; margin: 0 0 10rem 0; padding: 0 0 2rem 0;}
	.subpage__text{padding: 0 2rem 0 2rem;}
	.contact{grid-column: 1/4; margin: 0 0 8rem 0; padding: 0;}
	.contact__img{width: 100%;}
	.footer{grid-column: 1/4;}
	header, .section, footer{transition: none; box-shadow: none;}
	header:hover, .section:hover, footer:hover{box-shadow: none; transform: none;
}
